* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 15px;
    
}

.logo {
    margin-top: 5%;
}

.logo img {
    width: 230px;
    height: 230px;
}

.message {
    margin-top: 5%;
}

p {
    font-weight: 400;
    color: #666;
}

.announcements {
    margin-top: 5%;
}

footer {
    color: #666;
    font-size: 12px;
    margin-top: 10%;
}

span {
    display: block;
    bottom: 10px;
    left: 50%;
    bottom: auto;
    right: auto;
    text-align: center;
}

a {
    color: #5378b8;
    text-decoration: none;
}

span .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.1);
    }
}

@keyframes pound {
    to {
        transform: scale(1.1);
    }
}
